@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

body {
    z-index: -2;
    background: black;
    color: #dfdfdf;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0
}

.navbar {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #101010;
    float: left;
    /* Set the navbar to fixed position */
    left: 0;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    height: 3rem;
}


/* Links inside the navbar */

.navbar a {

    font-size: 2rem ;
    float: left;
    display: block;
    color: #dfdfdf;
    text-align: center;
    padding-top: .5rem;
    width: 20%;
    height: 3rem;
    text-decoration: none;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    justify-content: center;
    cursor: pointer;
}


/* Change background on mouse-over */

.navbar a:hover {
    background: #ddd;
    color: black;

}

.special a {
    background: rgb(192, 192, 192);
    color: rgb(32, 32, 32);
}

.bg {
  z-index: -2;
  float: left;
  height: 100%;
  width:100%;
  background: #307D99 url('./hearthstone.jpg');
  background-size: cover;
}
.bg div {
    position: relative;
    z-index: 1;
}






  
  
  /* customizable snowflake styling */
.snowflakes {
    color: #fff;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    font-size: 2rem;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        transform: rotate(0deg);
        top: -10%;
    }

    100% {            
        transform: rotate(180deg);
        top: 100%;
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);

    }

    50% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }
}

@keyframes snowflakes-fall {
    0% {

        top: -10%
    }

    100% {

        top: 100%
        
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {

        transform: translateX(0) rotate(90deg)
    }
    50% {
        transform: translateX(100px) rotate(0deg)
    }
}

.snowflake {

    position: fixed;
    top: -10%;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 8s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall , snowflakes-shake;
    animation-duration: 8s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;


}

.snowflake:nth-of-type(0) {

    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;

}


.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}




.classes {
    text-align: center;
    float: left;
    width: 100%;
}



  
.show1 {
    color: #ddd;
    text-decoration: none;
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.2);
    height:14rem;
    transition: 1.5s;
    -webkit-tap-highlight-color: transparent;
    justify-content: center;
    cursor: pointer;
}

.show1:hover {
    background: rgba(255,255,255,0.6);
    color: black;
    z-index: 1;
}

.free1 {
    float: left;
    width: 21.75%;
}


.space1 {
    float:left;
    width:1%;
}